@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome To your New Home</h2>

<div class="row">
    <div class="col-md-8">
        <img src="~/images/pexels-photo-277527.jpeg" alt="broken doorway">
    </div>
    <div class="col-md-4">
        <div class="moto">
            <p>The Place to spend all your time and money.</p>
        </div>

        <div class="moto">
            <p> Things Coming Up:   NOTHING </p>
        </div>
    </div>

</div>

<div class="row">

    <br>
    <div class="col-md-3 frontArea">
        <a asp-area="" asp-controller="Students" asp-action="Index">
            <img src="~/images/pexels-photo-207569.jpeg" alt="student">
            <p>Students</p>
        </a>
    </div>

     <div class="col-md-3 frontArea">
        <a asp-area="" asp-controller="Courses" asp-action="Index">
            <img src="~/images/books-education-school-literature-51342.jpeg" alt="books">
            <p>Courses</p>
        </a>
    </div>

      <div class="col-md-3 frontArea">
        <a asp-area="" asp-controller="Instructors" asp-action="Index">
            <img src="~/images/pexels-photo-280002.jpeg" alt="instructor">
            <p>Instructors</p>
        </a>
    </div>

      <div class="col-md-3 frontArea">
        <a asp-area="" asp-controller="Departments" asp-action="Index">
            <img src="~/images/pexels-photo-533189.jpeg" alt="instructor">
            <p>Departments</p>
         </a>
    </div>
    
</div>                 